<div>
    <h3>Reset Password</h3>
    <div>

        <div *ngIf="!passwordChanged">

            <form [formGroup]="passwordForm" (ngSubmit)="onformSubmit()">
    
                <label for="change">Enter New Password:</label>
                <input type="text" id="change" formControlName="newPassword" >
                <small *ngIf="passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').touched"
                class="text-danger">
                    Please enter the new password
                </small>
    
                <div (click)="onEmptyForm()">
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">
                        Change Password
                    </button>
    
                </div>
    
            </form>

        </div>

        <div *ngIf="passwordChanged" class="container mt-3">
            <div class="card bg-success text-white">
              <div class="card-body">
                <h2 class="card-title">Password reset</h2>
                <div class="card-text">
                  <p>You have successfully reset your password</p>
                </div>
              </div>
            </div>
          </div>
          

    </div>
</div>
